:root {
  --input-disabled-background: #eeeeee;
  --input-disabled-opacity: 0.6;
}
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

a {
  color: #00b4aa;
  text-decoration-color: rgba(0, 180, 170, 0.4);
}

a:hover {
  text-decoration-color: rgba(0, 180, 170);
}

.v-field--variant-outlined.v-field--disabled {
  background-color: var(--input-disabled-background);
  opacity: var(--input-disabled-opacity);
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.dp__theme_light {
  /* --dp-background-color: #ffffff; */
  --dp-text-color: #222222;
  --dp-hover-color: #f6f6f6;
  --dp-hover-text-color: #222222;
  /* --dp-hover-icon-color: #959595; */
  --dp-primary-color: #00b4aa;
  /*--dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc; */
  --dp-border-color: rgb(160, 160, 160);
  /* --dp-menu-border-color: #ddd; */
  --dp-border-color-hover: #3f3f3f;
  --dp-disabled-color: var(--input-disabled-background);
  /*--dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
  --dp-highlight-color: rgba(25, 118, 210, 0.1); */
}

.dp__input {
  font-family: "Roboto", sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dp__input_focus {
  transition: border-left-color 0ms, border-right-color 0ms,
    border-top-color 0ms, border-bottom-color 0ms;
  --dp-border-color-hover: #00b4aa;
  box-shadow: 0px 0px 0px 1px #00b4aa inset;
}

.dp__disabled {
  border-color: var(--dp-border-color) !important;
  opacity: var(--input-disabled-opacity);
}
